<f:if condition="{intelliAd} == 1">

    <!-- intelliAd BEGIN -->

    <script language="javascript" type="text/javascript">
        var ia_tp="t23.intelliad.de/tc2.js";
        var ia_v="{confValue}"; // conversion value (i.e. "2.5") [mandatory]
        var ia_vz="{settings.confType}"; // conversion type (possible values: sale -> "sa", lead -> "le", signup -> "si", pageview -> "pa", download -> "do") [mandatory]
        var ia_vv="EUR"; // conversion currency code(ACCORDING ISO 4271 i.e. "EUR" or "USD") [optional,if not given "EUR" is used as default]
        var ia_po="{orderID}"; // orderId [optional]
        var ia_c1="{customValue1}"; // custom value 1 [optional]
        var ia_c2="{customValue2}"; // custom value 2 [optional]
        var ia_c3="{customValue3}"; // custom value 3 [optional]
        var ia_c4="{customValue4}"; // custom value 4 [optional]
        var ia_pi="{settings.productIds}"; // productIds (if more than 1 seperate with | e.g. "12356|56899") [optional]

        var ia_cl="{settings.intelliadid}";
        var ia_rand = Math.floor(Math.random()*11111139435231);

        var ia_link=ia_tp+'?cl='+ia_cl+'&v='+ia_v+'&vz='+ia_vz+'&vv='+ia_vv+'&po='+ia_po+'&c1='+ia_c1+'&c2='+ia_c2+'&c3='+ia_c3+'&c4='+ia_c4+'&pi='+ia_pi+'&rand='+ia_rand;

        document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://'+ia_link+'"></sc'+'ript >');
    </script>
    <noscript>
        <img src="http://t23.intelliad.de/tc.php?cl={settings.intelliadid}&v={confValue}&vz={settings.confType}&vv=&po={orderID}&c1={customValue1}&c2={customValue2}&c3={customValue3}&c4={customValue4}&pi={settings.productIds}" width="1" height="1" alt="intelliAd" />
    </noscript>   
    
    <!-- intelliAd END -->

</f:if>

<f:if condition="{google} == 1">

	<!-- Google Analytics BEGIN -->

	<script language="javascript" type="text/javascript">
	    _gaq.push(["_trackEvent", <f:if condition="{customValue1}"><f:then>"{customValue1}"</f:then><f:else>""</f:else></f:if>, <f:if condition="{customValue2}"><f:then>"{customValue2}"</f:then><f:else>""</f:else></f:if>, <f:if condition="{customValue3}"><f:then>"{customValue3"</f:then><f:else>""</f:else></f:if>, <f:if condition="{confValueGoogle}"><f:then>{confValueGoogle}</f:then><f:else>0</f:else></f:if>]);
	</script>

	<!-- Google Analytics END -->

</f:if>